
# Looping/Loops for Lists

In [2]:
for a in range(10):
    print("Hassan")
#

Hassan
Hassan
Hassan
Hassan
Hassan
Hassan
Hassan
Hassan
Hassan
Hassan

In [6]:
for b in range(-13,15):
    print(b,"HJ")

-13 HJ
-12 HJ
-11 HJ
-10 HJ
-9 HJ
-8 HJ
-7 HJ
-6 HJ
-5 HJ
-4 HJ
-3 HJ
-2 HJ
-1 HJ
0 HJ
1 HJ
2 HJ
3 HJ
4 HJ
5 HJ
6 HJ
7 HJ
8 HJ
9 HJ
10 HJ
11 HJ
12 HJ
13 HJ
14 HJ

In [8]:
for x in range(1,15,4):
    print(x,"HJ")

1 HJ
5 HJ
9 HJ
13 HJ

In [20]:
for odd in range(1,10,2):
    print(odd)
for even in range(0,10,2):
    print(even)

1
3
5
7
9
0
2
4
6
8

In [30]:
benaam=[11,22,33,44,55,66]
print(len(benaam))

6

In [62]:
oddlist=[]
evenlist=[]

for num in range(len(benaam)):
    
    ax=benaam[num]%2
    if (ax==0):
        evenlist.append(benaam[num])
    else:
        oddlist.append(benaam[num])
print (evenlist)
print(oddlist)

print("Even Numbers are the following: ")
for even in evenlist:
    print(even,end=" " )
print("\nEven Numbers are the following: ")
for odd in oddlist:
    print(odd,end=' ')

[22, 44, 66]
[11, 33, 55]
Even Numbers are the following:
22 44 66
Even Numbers are the following:
11 33 55

In [33]:
for z in benaam:
    print(z)

11
22
33
44
55
66

In [36]:
for z in benaam:
    if z%2 == 0:
        print(z)

22
44
66

In [56]:
for a  in range(10):
    print(a, end=" ")

0 1 2 3 4 5 6 7 8 9

In [76]:
friends=["Abdullah", "Ahmer", "Haris", "Ikram", "RS", "Tahir"]
relatives=["Imran", "Moosa", "Ikram", "Salman", "Uzair", "Danish","Tahir"]
closefriends=[]

print("These are my close friends: ")

for re in relatives:
    if re in friends:
        closefriends.append(re)
print(closefriends)

These are my close friends:
['Ikram', 'Tahir']

In [84]:
friends=["Abdullah", "Ahmer", "Haris", "Ikram", "RS", "Tahir"]
relatives=["Imran", "Moosa", "Ikram", "Salman", "Uzair", "Danish","Tahir","Aashir"]
closefriends=[]

print("These are my close friends: ")

for re in relatives:
    if re in friends:
        print(re,end="and")

These are my close friends:
IkramandTahirand

In [82]:
for name in friends[3:]:
    print(name)

Ikram
RS
Tahir

In [85]:
print("My first 3 relatives are: ")
for zz in relatives [:3]:
    print(zz)
print("\nMy 3 relatives in the middle of the list are: ")
for mid in relatives [3:6]:
    print (mid)
print("\nMy last relatives in the list are: ")
for last in relatives [5:]:
    print (last)

My first 3 relatives are:
Imran
Moosa
Ikram

My 3 relatives in the middle of the list are:
Salman
Uzair
Danish

My last relatives in the list are:
Danish
Tahir
Aashir

In [8]:
friendspizza = ["Tikka", "Fajita", "Cheese"]
listofpizza = friendspizza [:] #copy list command

friendspizza.append("Pepperoni")
listofpizza.append("Malaitikka")

print("My friends favorite pizza flavors are: " )
for friends in friendspizza:
    print (friends)
print("\nMy favorite pizza flavors are: " )
for my in listofpizza:
    print (my)

My friends favorite pizza flavors are:
Tikka
Fajita
Cheese
Pepperoni

My favorite pizza flavors are:
Tikka
Fajita
Cheese
Malaitikka

In [21]:
current_users = ["Hassan","Uzair","Salman","Moosa","Amjad","MOOSA"]
new_users = ["Ikram","Imran","Shiraz","HASSAN","Shayan","Moosa","amjad"]

for new in new_users:
    if new.title() in current_users:
        print("\n"+new.title()+" exists in the database")
    else:
        print("\nYour name " + new.title() + " is available")

Your name Ikram is available

Your name Imran is available

Your name Shiraz is available

Hassan exists in the database

Your name Shayan is available

Moosa exists in the database

Amjad exists in the database

In [ ]:
# string formatting

name = "Fahad"
f_name = "Ali"

print("My friend's name is {} and his father's name is {}".format(name,f_name))
#{} are known as placeholders, and can insert index numbers in curly brackets
print("My friend's name is {1} and his father's name is {1}".format(name,f_name))

In [26]:
print(f"My friend's name is {name} and his father's name is {f_name}")

My friend's name is Fahad and his father's name is Ali

In [33]:
roll_number = 502
name = "Muhammad Hassan"
# print("My name is " + name + "and my roll number is "+ roll_number)
print(f"My name is {name} and my roll number is {roll_number}")

My name is Muhammad Hassan and my roll number is 502

In [ ]:
# attendancelist=[501,"Uzair",502,"Hassan"]
# roll_numberai = int(input("Enter your Roll Number"))
# if roll_numberai in attendancelist:
#     print(f"Your name is{attendancelist(rollnumberai)} )

    # Tuple is immutable. Which means, it cannot be modified

In [36]:
a = 12,235 #this is known as packing of values, and will result in tuple form. 
print(a)
print(type(a))

(12, 235)
<class 'tuple'>

In [44]:
b, c =a
print(b)
print (c)

12
235

In [42]:
tuple = ("b","c","d","e","f") #difference while creating a list and tuple is () and []
print (tuple)

('b', 'c', 'd', 'e', 'f')

In [16]:
cities = "Atlanta","Baltimore","Chicago","Denver","Los Angeles",55
a, b, c, d, e, f = cities
print ("I belong to " + e)

I belong to Los Angeles

In [22]:
tup1 = (12, 34.56)
tup2 = ("abc","xyz")
tup3 = tup2 + tup1
print (tup3)

('abc', 'xyz', 12, 34.56)

In [23]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [24]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [25]:
thistuple = ("apple", "banana", "cherry")
if "strawberry" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print("No Strawberry in your tuple")

No Strawberry in your tuple

In [27]:
#Dictionary:

a = {'key':'values'} #[list],(tuple),{dictionary}

In [40]:
alien_0 = {'color':'green', 'points':5}

print (alien_0['color'].title())
print (alien_0['points'])

Green
5

In [42]:
type(alien_0['points'])

int

In [45]:
print(f"You just earned {alien_0['points']} points")

You just earned 5 points

In [59]:
#procedure to insert values in dictionary
foods = {}
foods ['karahi']= 'favourite'
foods ['bbq'] = 'prawns'
foods ['shake'] = 'Chocolate Browni Shake'
foods ['icecream'] = {'peshawari':'fav', "chocolate" : "like", "icecreamparlour":["kaybees", "baskinrobin", "gelatoaffairs"]}

# print (foods)
print(foods['icecream']["icecreamparlour"][2])

gelatoaffairs

In [66]:



if alien_0["color"] == 'red':
    alien_0["points"]=10
    
elif alien_0["color"] == 'green':
    alien_0["points"] = 15
    
print(alien_0)

{'color': 'green', 'points': 15}

# for loop in dictionary

In [3]:
dict1 = {'a':10, 'b':20, 'c':30}
for key1, value1 in dict1.items():
        print (key1,value1)

a 10
b 20
c 30

In [4]:
for key3 in dict1.keys():
    print (key3)

a
b
c

In [5]:
for value2 in dict1.values():
    print (value2)

10
20
30

In [24]:
personalinfo = {"first_name": "M. Hassan", "last_name": "M. Yahya", "age": 28, "city": "Karachi"}

print("Hello, My name is " + personalinfo["first_name"].title())
print("son of " + personalinfo["last_name"].title())
print("my age is " + str(personalinfo["age"]))
print("and i live in " + personalinfo["city"].title())

Hello, My name is M. Hassan
son of M. Yahya
my age is 28
and i live in Karachi

In [39]:
personalinfo = {"first_name": "M. Hassan", "last_name": "M. Yahya", "age": 28, "city": "Karachi"}

print(f"Hello, My name is {personalinfo['first_name']}")
print(f"son of {personalinfo['last_name'].title()}")
print(f"my age is {personalinfo['age']}")
print(f"and i live in {personalinfo['city'].title()}")

Hello, My name is M. Hassan
son of M. Yahya
my age is 28
and i live in Karachi

In [57]:
personalinfo = {"first_name": "M. Hassan", "last_name": "M. Yahya", "age": 28, "city": "Karachi"}
print("Hello, My name is {}".format(personalinfo["first_name"]))
print(f"son of {personalinfo['last_name'].title()}")
print(f"my age is {personalinfo['age']}")
print(f"and i live in {personalinfo['city'].title()}")

Hello, My name is M. Hassan
son of M. Yahya
my age is 28
and i live in Karachi

In [64]:
name1 = {"Shehrayar":"Zafar", "Saif":"Zafar","Zohaib":"Owais", "Umer":"Najeeb", "Naveed":"Zia"}

for new_names in sorted(name1.values()):
    print (new_names.upper() + ', have a good day')

print (sorted(name1)

NAJEEB, have a good day
OWAIS, have a good day
ZAFAR, have a good day
ZAFAR, have a good day
ZIA, have a good day
{'Shehrayar': 'Zafar', 'Saif': 'Zafar', 'Zohaib': 'Owais', 'Umer': 'Najeeb', 'Naveed': 'Zia'}

In [79]:
listing = [1,4,5,7,976,56,43,89]

for oem in reversed(listing):
    print (oem)
print (listing)

89
43
56
976
7
5
4
1
[1, 4, 5, 7, 976, 56, 43, 89]

In [80]:
reverse_list=list(reversed(listing))
print(reverse_list)

[89, 43, 56, 976, 7, 5, 4, 1]

In [92]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]

for alien in aliens:
    for keys , value in alien.items():
        print("keys: " + keys)
        print("values: " + str(value))

keys: color
values: green
keys: points
values: 5
keys: color
values: yellow
keys: points
values: 10
keys: color
values: red
keys: points
values: 15

In [95]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for table in [2,3,4,5]:
    for num in numbers:
        print(f"{table} * {num} = {table*num}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50