In [1]:
print("hello")

hello

# Our First Class

This is our first class

In [2]:
print(hello world)

SyntaxError: invalid syntax (<ipython-input-2-6135c6da936c>, line 1)

In [ ]:
print(1234+1)

In [ ]:
print(123,"hello")

In [ ]:
print("234"+2)

In [ ]:
print('this is Ai class\n Dhoraji')

In [ ]:
print("languages:\npython\nRuby\nJavaScript")

In [ ]:
print("languages:\n\tpython\n\tC\n\tJavaScript")

In [6]:
num= 'Pakistan'
print(num)
type(num)
id(num)

Pakistan

887325240304

In [10]:
name='shehzad ali'
name='mohAmmEd AlI'
print(name)

mohAmmEd AlI

In [11]:
print(name.title())
print(name.lower())
print(name.upper())

Mohammed Ali
mohammed ali
MOHAMMED ALI

In [13]:
a=10+1
a
print(a)

11

In [15]:
cou="Pakistan"
print(cou)
print(type(cou))
id(cou)

Pakistan
<class 'str'>

887325240304

In [17]:
message="Good Evening"
print(message)
message="How are you?"
print(message)

Good Evening
How are you?

In [19]:
print(name.title())
print(message)

Mohammed Ali
How are you?

In [20]:
num1= 150
print(num1+20)

170

In [24]:
original_num=15
new_num=20
total=original_num + new_num
print(total)

35

In [25]:
num1=5
num2=6
num3=7
num4=8
num5=9
num6=10
total=(num1*num2)+(num3*num4)+num5-num6
print(total)

85

In [27]:
Firstname='syEd'
Middlename='zohaib'
Lastname='owais'
fullname=Firstname+" "+Middlename+" "+Lastname
print(fullname)
print(fullname.title())
print(fullname.lower())
print(fullname.upper())

syEd zohaib owais
Syed Zohaib Owais
syed zohaib owais
SYED ZOHAIB OWAIS