In [6]:
import pandas as pd
import numpy as np
from numpy import nan

In [2]:
obj1 = pd.Series([23,34,56,78,90])
obj1

0    23
1    34
2    56
3    78
4    90
dtype: int64

In [3]:
obj1[5] = 500

In [4]:
obj1

0     23
1     34
2     56
3     78
4     90
5    500
dtype: int64

In [7]:
fruits = pd.Series (['banana','orange',nan,'mango',nan])
fruits

0    banana
1    orange
2       NaN
3     mango
4       NaN
dtype: object

In [8]:
fruits.dropna() #drop Not Available Number (NaN)

0    banana
1    orange
3     mango
dtype: object

In [21]:
b=pd.Series ([10,20,nan,40,50,nan,70])

In [22]:
z= b.mean() #mean of the series

In [25]:
b[b.isnull()]=z
b.fillna(z)

0    10.0
1    20.0
2    38.0
3    40.0
4    50.0
5    38.0
6    70.0
dtype: float64

In [26]:
b

0    10.0
1    20.0
2    38.0
3    40.0
4    50.0
5    38.0
6    70.0
dtype: float64

In [30]:
dates = pd.date_range('2019-07-11','2019-07-15')
dates

DatetimeIndex(['2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14',
               '2019-07-15'],
              dtype='datetime64[ns]', freq='D')

In [31]:
money = pd.Series([2340,7800,8900,7865,6543])

In [32]:
obj3 = pd.Series(money.values, index = dates)

In [33]:
obj3

2019-07-11    2340
2019-07-12    7800
2019-07-13    8900
2019-07-14    7865
2019-07-15    6543
Freq: D, dtype: int64