In [ ]:
print("Hello")

# our first class#

this is our first class

In [ ]:
print(1234+1)

In [ ]:
print("1234")

In [ ]:
print('this is AI class\n')

In [ ]:
print("languages:\npython\nruby\njavascript")

In [ ]:
print("language:\n\tpyton\n\tc\n\tjavascript")

In [ ]:
print("language:\n\tpyton\n\tc\ntjavascript")

In [ ]:
num=10
print(num)

In [ ]:
a=10
a

In [ ]:
a=10
a
print(a)

In [ ]:
name="shehryaar"
name="muhammad ali"
print(name)

In [ ]:
print("hello python")

In [ ]:
num_1= 150
print(num_1+20)

In [ ]:
num_1=20
num_2=30
num_3=40
print(num_1+num_2+num_3)

In [ ]:
num=10
another_num=1.5
total=num+another_num
print(total)

In [ ]:
FirstName='syed'
middlename='zohaib'
lastname='owais'
full_name=firstname=""+middlename+""+lastname
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

In [ ]:
# %load hello.py
print("hello world")

In [ ]:
string message = "DA"

In [ ]:
message = "DA"
print (message)
type (message)

In [ ]:
num1 = int(input("Enter First Number: "))
num2 = input("Enter Second Number: ")
total = num1 + num2
print(total)

In [ ]:
num11 = int(input("Enter an integer value:==>"))
num22 = int(input("Enter an integer value:==>"))

total = str(num11 + num22)

print("The total of two inputs " + total)

In [ ]:
tomatoprice = input ("What is the price of 1KG tomato? : ")

if tomatoprice == 100:
    print("Buy 1 KG")
else:
    print ("Buy 1/2 KG")

In [ ]:
number33 = int(input ("Enter a number: "))
if number33%2 == 0:
    print ("Even Number")
else:
    print ("Odd Number")

In [ ]:
number44 = input ("Enter an even number: ")
if number44%2 == 0:
    
else:
    print ("This is not an even number")

In [ ]:
x = int(input())
y=x/2
print(y)
#if x/2 == :
   # print("Even")
#else:
    #print ("ODD")

In [ ]:
z = int(input())
d = z//2
print(type(d))
if type(d)=='int':
    print ("even")
else:
    print("odd")

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
5*2

In [ ]:
a=5*2
print(type(a))

In [ ]:
5
print(type(5.0))

In [ ]:
3-12

In [ ]:
print ("abdullah "* 2)

In [ ]:
ab=50
ab**=2
ab

In [ ]:
temperature = float(input("What is the temperature today? "))
if temperature >= 31:
    print ("Wear Shorts")
else:
    print ("Wear Jeans")

In [ ]:
x = float(input("Enter your marks out of 100 :  "))
if x >100:
    print ("Wrong Input")
elif x >= 90:
    print("Grade A*")
elif x>= 80:
    print ("Grade A")
elif x >= 70:
    print ("Grade B")
elif x >= 60:
    print ("Grade C")
elif x >= 50:
    print ("Grade D")
else:
    print ("Congratulations, You have Failed")

In [20]:
Urdu = float(input("Enter Your Urdu Marks: "))
English = float (input("Enter Your English Marks: "))
Maths = float (input("Enter Your Maths Marks: "))
Science = float (input("Enter Your Science Marks: "))
Computer = float (input("Enter Your Computer Marks: "))

Total = Urdu + English + Maths + Science + Computer
Percentage = round(Total/500 * 100,2)
if Percentage >100:
    print ("Wrong Input")
elif Percentage >= 90:
    grade =("Grade A*")
elif Percentage>= 80:
    grade =("Grade A")
elif Percentage >= 70:
    grade =("Grade B")
elif Percentage >= 60:
    grade =("Grade C")
elif Percentage >= 50:
    grade =("Grade D")
else:
    grade = ("F")
    print ("Congratulations, You have Failed")
print("Your total marks are "+ str (Total) + "\nYour Percentage is "+ str(Percentage) +  "\nYour Grade is "+ str(grade))

Enter Your Urdu Marks: 45
Enter Your English Marks: 45
Enter Your Maths Marks: 45
Enter Your Science Marks: 45
Enter Your Computer Marks: 45
Congratulations, You have Failed
Your total marks are 225.0
Your Percentage is 45.0
Your Grade is F