In [ ]:
print("Hello")

# our first class#

this is our first class

In [ ]:
print(1234+1)

In [ ]:
print("1234")

In [ ]:
print('this is AI class\n')

In [ ]:
print("languages:\npython\nruby\njavascript")

In [ ]:
print("language:\n\tpyton\n\tc\n\tjavascript")

In [ ]:
print("language:\n\tpyton\n\tc\ntjavascript")

In [2]:
num=10
print(num)

10

In [8]:
a=10
a

10

In [9]:
a=10
a
print(a)

10

In [10]:
name="shehryaar"
name="muhammad ali"
print(name)

muhammad ali

In [11]:
print("hello python")

hello python

In [14]:
num_1= 150
print(num_1+20)

170

In [15]:
num_1=20
num_2=30
num_3=40
print(num_1+num_2+num_3)

90

In [16]:
num=10
another_num=1.5
total=num+another_num
print(total)

11.5

In [19]:
FirstName='syed'
middlename='zohaib'
lastname='owais'
full_name=firstname=""+middlename+""+lastname
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

zohaibowais
Zohaibowais
zohaibowais
ZOHAIBOWAIS

In [ ]:
# %load hello.py
print("hello world")