In [ ]:
print("Hello")

# our first class#

this is our first class

In [1]:
print(1234+1)

1235

In [2]:
print("1234")

1234

In [3]:
print('this is AI class\n')

this is AI class

In [4]:
print("languages:\npython\nruby\njavascript")

languages:
python
ruby
javascript

In [5]:
print("language:\n\tpyton\n\tc\n\tjavascript")

language:
	pyton
	c
	javascript

In [6]:
print("language:\n\tpyton\n\tc\ntjavascript")

language:
	pyton
	c
tjavascript

In [2]:
num=10
print(num)

10

In [8]:
a=10
a

10

In [9]:
a=10
a
print(a)

10

In [10]:
name="shehryaar"
name="muhammad ali"
print(name)

muhammad ali

In [11]:
print("hello python")

hello python

In [14]:
num_1= 150
print(num_1+20)

170

In [15]:
num_1=20
num_2=30
num_3=40
print(num_1+num_2+num_3)

90

In [16]:
num=10
another_num=1.5
total=num+another_num
print(total)

11.5

In [19]:
FirstName='syed'
middlename='zohaib'
lastname='owais'
full_name=firstname=""+middlename+""+lastname
print(full_name)
print(full_name.title())
print(full_name.lower())
print(full_name.upper())

zohaibowais
Zohaibowais
zohaibowais
ZOHAIBOWAIS

In [ ]:
# %load hello.py
print("hello world")

In [7]:
string message = "DA"

SyntaxError: invalid syntax (<ipython-input-7-ded63971655b>, line 1)

In [15]:
message = "DA"
print (message)
type (message)

DA

str

In [1]:
num1 = int(input("Enter First Number: "))
num2 = input("Enter Second Number: ")
total = num1 + num2
print(total)

Enter First Number: 50
Enter Second Number: Hassan

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
num11 = int(input("Enter an integer value:==>"))
num22 = int(input("Enter an integer value:==>"))

total = str(num11 + num22)

print("The total of two inputs " + total)

Enter an integer value:==>45
Enter an integer value:==>45
The total of two inputs 90

In [4]:
tomatoprice = input ("What is the price of 1KG tomato? : ")

if tomatoprice == 100:
    print("Buy 1 KG")
else:
    print ("Buy 1/2 KG")

What is the price of 1KG tomato? : 120
Buy 1/2 KG

In [10]:
number33 = int(input ("Enter a number: "))
if number33%2 == 0:
    print ("Even Number")
else:
    print ("Odd Number")

Enter a number: 15
Odd Number

In [12]:
number44 = input ("Enter an even number: ")
if number44%2 == 0:
    
else:
    print ("This is not an even number")

IndentationError: expected an indented block (<ipython-input-12-63006b35d1ed>, line 4)

In [17]:
x = int(input())
y=x/2
print(y)
#if x/2 == :
   # print("Even")
#else:
    #print ("ODD")

4
2.0

In [33]:
z = int(input())
d = z//2
print(type(d))
if type(d)=='int':
    print ("even")
else:
    print("odd")

4
<class 'int'>
odd

In [25]:
5/2

2.5

In [20]:
5//2

2

In [28]:
5*2

10

In [32]:
a=5*2
print(type(a))

<class 'int'>

In [37]:
5
print(type(5.0))

<class 'float'>

In [38]:
3-12

-9

In [40]:
print ("abdullah "* 2)

abdullah abdullah

In [60]:
ab=50
ab**=2
ab

2500